flask==2.3.3
flask_login==0.6.2
werkzeug==2.3.7
pdfkit==1.0.0
joblib
scikit-learn
pandas
twilio
gunicorn

L5KV85WGWXBMEP9NXW9BWBT1

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